body {

	background: url('../Images/8.jpg');

}



h1 {

	text-align: center;
	width: 100%;
	font-family: Comic Sans MS;
	color: #f0dddd;
	font-size: 3rem;
}

h2 {

	text-align: center;
	color: #f5b105;
	font-family: Comic Sans MS;

}

.about {

	width: 100%;
	border: 5px solid white;
	color: #f5cf6e;

}

.about p {
	font-size: large;
}

.RestaurantList {

	text-align: center;
	font-size: xx-large;
}

img {

	width: 200px;
	height: 150px;

}

.element1, .element2, {
	display: inline;

}

.element1 {
	float: left;
	width: 30%;
}

.element1 img {

	width: 80%;
	height: 240px;

}

.element2 {
	float: left;
	width: 70%;
	height: 150px;
	color: #f0dddd;
	font-family: Comic Sans MS;

}

.element2 p {

	width: 100%;
}

.element2 a {

	color: #ed4d1c;
	font-size: x-large;
}

.list {
	display: inline-block;
}

label {

	color: #f0dddd;
	font-size: 2rem;
}

.form {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin: auto;
}

input {
	width: 30%;
	height: 20px;
}

textarea {

	width: 30%;
	height: 50px;
}

.form {
	margin-bottom: 40px; 
}

iframe {

	margin-bottom: 20px;
}


.features {

	border: 2px solid white;
	color: #f5cf6e;
	margin-bottom: 30px;
	margin-top: 30px;
}

.para {

	text-align: left;
}

h4 {

	text-align: center;
	color: white;
}




















